 <ion-header-bar class="bar bar-deepblue bar-deepblue-borderbottom"> 
  <button ui-sref="mealselect" class="button button-clear button-deepblue-white"> 
    <i class="white-color ion-arrow-left-c"></i> 
  </button> 
  <h2 class="title">Restaurant</h2> 
</ion-header-bar> 

<ion-content>
  <span ui-sref="shopMacDo" >
    <div class="item item-image" style="position:relative;">
      <img ng-src="sampledata/img/enseignes/macdo.png">
    </div>

    <div class="item ui-gradient-deepblue">
      <h1 class="title white-color sans-pro-light" style="font-weight: bold;">McDonald's</h1>
    </div>
  </span> 
  <span ui-sref="shopQuick">
    <div class="item item-image" style="position:relative;">
      <img ng-src="sampledata/img/enseignes/quick.png">
    </div>
    <div class="item ui-gradient-deepblue">
      <h1 class="title white-color sans-pro-light" style="font-weight: bold;">Quick</h1>
    </div>
  </span> 
  <span class="has-header padding full-height text-center" >
  </span>

<!--     <ion-content>
    <span ui-sref="shopKfc" >
      <div class="item item-image" style="position:relative;">
        <img ng-src="sampledata/img/enseignes/Kfc.png">
      </div>

      <div class="item ui-gradient-deepblue">
        <h1 class="title white-color sans-pro-light">KFC</h1>
      </div>
    </span> 
  </ion-content> -->
</ion-content>